! FAI ansible managed

global_defs {
    default_interface {{ keepalived.default_interface | default('eth0') }}
    enable_script_security
    script_user root
    vrrp_higher_prio_send_advert true
    
}

! EXPERIMENTAL: include, glob/location may change
include /etc/keepalived/conf.d/*.conf

{% if keepalive_vip | default({}) | dict2items | length > 1 %}
vrrp_sync_group sync {
  group {
{% for i in keepalive_vip | default({}) | dict2items %}
    ip_{{ i.key }}
{% endfor %}
  }
}
{%   endif %}
{%   for i in keepalive_routes | default({}) | dict2items %}
vrrp_script chk_route_available_{{ i.key }} {
    script "/etc/keepalived/vrrp_script.d/routes_{{ i.key }}"
    interval 5
    init_fail
    rise 1
    fall 3
}
vrrp_instance route_{{ i.key }} {
    state BACKUP
    interface {{ i.value.interface | default(keepalived.default_interface | default('eth0') ) }}
    virtual_router_id {{ i.key }}
    priority 100
    promote_secondaries
    virtual_ipaddress {
{%     for ip in i.value.ipres | default([]) %}
      {{ ip }} scope global
{%     endfor %}
    }
    virtual_routes {
{%      for route in i.value.routes | default([]) %}
	{{ route }}
{%      endfor %}
    }
    track_script {
	chk_route_available_{{ i.key }}
    }
}
{%   endfor %}
{%   for i in keepalive_vip | default({}) | dict2items %}
vrrp_instance ip_{{ i.key }} {
  state BACKUP
  interface {{ i.value.interface | default(keepalived.default_interface | default('eth0') ) }}
  virtual_router_id {{ i.key }}
  priority 100
  promote_secondaries
{%  if keepalived_dont_track_primary | default(true) %}
  dont_track_primary
{%  endif %}
  virtual_ipaddress {
{%   for ip in i.value.ipres | default([]) %}
    {{ ip }} scope global
{%   endfor %}
  }
{%   if i.value.routes is defined %}
  virtual_routes {
{%     for route in i.value.routes | default([]) %}
    {{ route }}
{%     endfor %}
  }
{%   endif %}
{%   if i.value.rules is defined %}
  virtual_rules {
{%     for rules in i.value.rules | default([]) %}
    {{ rules }}
{%     endfor %}
  }
{%   endif %}
  notify_master "/usr/local/bin/keepalived-notify INSTANCE ip_{{ i.key }} MASTER 255"
  notify_backup "/usr/local/bin/keepalived-notify INSTANCE ip_{{ i.key }} BACKUP 100"
  notify_fault "/usr/local/bin/keepalived-notify INSTANCE ip_{{ i.key }} FAULT 100"
  notify_stop "/usr/local/bin/keepalived-notify INSTANCE ip_{{ i.key }} STOP 100"
  authentication {
    auth_type PASS
    auth_pass ip_{{ i.key }}
  }
}
{%   endfor %}

{% for i in keepalive_ip_correlation | default({}) | dict2items() %}
{%   if i.value.extern_ipv4 is defined and i.value.extern_ipv4_iface is defined %}
! LXC {{ i.key }}
vrrp_script chk_{{ i.value.intern_ipv4 }} {
        script "/usr/local/bin/keepalived_check {{ i.value.intern_ipv4 }} {{ i.value.extern_ipv4 }}"
        interval 2
        init_fail
        rise 1
        fall 3
}

vrrp_instance ip{{ i.value.extern_ipv4 }} {
	interface {{ keepalived.default_interface | default('eth0') }}
        state BACKUP
        virtual_router_id {{ i.value.intern_ipv4 | regex_replace("^.*\.", "") }}
        priority 100
        promote_secondaries
        track_script {
                chk_{{ i.value.intern_ipv4 }}
        }
        virtual_ipaddress {
                {{ i.value.extern_ipv4 }}/{{ i.value.extern_ipv4_netmask | default('24') }} dev {{ i.value.extern_ipv4_iface | default('eth0') }} scope global
        }
        virtual_routes {
                {{ i.value.extern_ipv4 }}/{{ i.value.extern_ipv4_netmask | default('24') }} dev {{ i.value.extern_ipv4_iface | default('eth0') }} table base scope global
        }
        notify_master "/usr/local/bin/keepalived-notify INSTANCE ip{{ i.value.extern_ipv4 }} MASTER 255 "
        notify_backup "/usr/local/bin/keepalived-notify INSTANCE ip{{ i.value.extern_ipv4 }} BACKUP 100"
        notify_fault  "/usr/local/bin/keepalived-notify INSTANCE ip{{ i.value.extern_ipv4 }} FAULT 100"
        notify_stop   "/usr/local/bin/keepalived-notify INSTANCE ip{{ i.value.extern_ipv4 }} STOP 100"
}

{%   endif %}
{% endfor %}
